<h2>Dashboards</h2>

{{#if isLoading}}
    <strong>Hold on...</strong>
{{/if}}

{{#if hasFailed}}
    <strong>Failed! {{message}}</strong>
{{/if}}

{{#if hasData}}
    <ol>
        {{#each dashboard in dashboards}}
            <li>
                {{#link-to "dashboards.dashboard" dashboard.id}}{{dashboard.id}} - {{dashboard.name}}{{/link-to}}
            </li>
        {{/each}}
    </ol>
{{/if}}
