<h2>Dashboards</h2>

{{#if isLoading}}
    <strong data-output="state">Hold on...</strong>
{{/if}}

{{#if hasFailed}}
    <strong data-output="error">Failed! {{message}}</strong>
{{/if}}

{{#if hasData}}
    <ol data-context="dashboards">
        {{#each dashboard in dashboards}}
            <li data-action="dashboard-link">
                {{#link-to "dashboards.dashboard" dashboard.id}}{{dashboard.id}} - {{dashboard.name}}{{/link-to}}
            </li>
        {{/each}}
    </ol>
{{/if}}
